<h1>OMDB Movie Search</h1>
<form action="/results" method="GET">
  <label id="search-input">SEARCH A MOVIE!</label>

  <input id="search-input" type="text" name="search" />

  <input type="submit" />
</form>